@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #141414;
    font-family: 'Prata', serif;
    --accent-color: white;
    scroll-behavior: smooth;    
}
html, body{
    height: 100%;
}
.header{
    position: fixed;
    width: 100%;
    top: 0; 
    left: 0;
    z-index: 50;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
}
.container-header{
    max-width: 1270px;
    margin: 0px auto;
    padding: 0px 50px;
}
.logo img{
    max-width: 100%;
    padding: 5px 30px 0px 0px;
    position: relative;
    z-index: 3;
}
.header-body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header-list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header-list li {
    list-style: none;
}
.header-link{
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
}
.header-list li a:hover {
    color: grey;
}
.header-burger{
    display: none;
}
@media (max-width: 767px){
    body.lock{
        overflow: hidden;
    }
    .header-burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header-burger span{
        position: absolute;
        background-color: var(--main-color);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header-burger::before,
    .header-burger::after{
        content: '';
        background-color: var(--main-color);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header-burger::before{
        top: 0;
    }
    .header-burger::after{
        bottom: 0;
    }
    .header-burger.active span{
        transform: scale(0);
    }
    .header-burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: white;
        padding: 100px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .header-menu.active{
        top: 0;
    }
    .header-list{
        display: block;
    }
    .header-list li{
        margin: 0px 0px 20px 0px;
        text-align: center;
    }
}
.menu{
    background-color: #b8aa9fad;
    margin-top: 100px;
}
.menu-container{
    max-width: 1270px;
    margin: 0px auto;
    padding: 0px 50px;
}
.menu-container p{
    font-size: 18px;
    padding: 10px 0px 10px 0px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}
.menu-header{
    font-size: 35px;
    display: flex;
    padding-top: 60px;
    justify-content: center;
    text-align: center;
    font-family: 'Prata', serif;
}
@media (max-width: 375px) {
    .menu-container p{
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        padding: 30px 10px 10px 10px;
        padding-bottom: 50px;
    }
    .menu-header{
        font-size: 24px;
        font-family: 'Prata', serif;
        padding: 30px 0px 0px 10px;
        text-align: center;
    }
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px;
}
.button-menu:hover {
    background-color: white;
    transition: all 1s ease 0s;
}
.button-menu{
    border: 0.5px solid rgb(165, 164, 164);
    font-size: 15px;
    color: var(--main-color);
    text-decoration: none;
    display: block;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1270px;
    margin: 0px auto;
    padding: 0px 60px;
    padding-bottom: 50px;
}
.logo-footer{
    max-width: 100%;
    text-align: center;
}
.contacts span{
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Prata', serif;
}
.contacts p{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}
.social span{
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Prata', serif;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 30px 0px 10px 0px;
}
.social-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 50px;
    height: 50px;
}
.social-items:hover{
    border-radius: 50%;
    background: grey;
}
.social-link{
    color: black;
}
@media (max-width: 767px){
    .footer-container{
        display: block;
        position: relative;
    }
    .social span{
        margin-top: 20px;
    }
    .logo{
        max-width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
}
